@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --cream: #f7f6f5;
  --dark: #020814;
  --grey: #e6e2e0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cream);
  color: var(--dark);
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: var(--dark);
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

#logo-header {
    width: 15.81rem;
  }

#welcome-section-container {
    background-color: var(--grey);
    padding: 1rem;
    margin: 1rem;
    margin-top: 2rem;
    border-radius: 5%;
    min-height: 15px;
    }

#welcome-headline {
    text-align: center;
}

.headline2{
    padding-top: 1rem;
    text-align: center;
}

.content {
    padding-top: 1rem;
    text-align: center;
}

.quizz-level-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: stretch;
    margin-top: 1rem;

   }

.quizz-level-btn {
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 700;
    border:var(--dark) solid 0.1rem;
    border-radius: 5%;


}

.quizz-level-btn:hover {
    font-size: 1.1rem;
    font-weight: 700;

    padding: 0.5rem;
    letter-spacing: 0.031rem;
    border:var(--dark) solid 0.2rem;
    background-color: var(--cream);
    transition: 0.5s ease;
    
    }

    .quiz-box {
      min-height: 23.438rem;
      min-width: 15rem;
      background-color: var(--grey);
      padding: 1rem;
      margin: 1rem;
      margin-top: 2rem;
      border-radius: 5%;
    }


   .question-number {
      font-size: 1.125rem;
      color: var(--dark);
      line-height: 1.563rem;
      font-weight: 600;
      padding-bottom: 0.063rem;
      border-bottom: 0.5px solid var(--dark);
    } 

    .question-text {
      font-size: 1.375rem;
      color: var(--dark);
      line-height: 1.75rem;
      font-weight: 400;
      padding: 0.625rem 0 ;
      border-bottom: 0.5px solid var(--dark);
    } 

.option-container .option{
      background-color: var(--cream);
      padding: 0.938rem;
      font-size: 1rem;
      line-height: 1.375rem;
      border-radius: 0.313rem;
      margin-bottom: 0.625rem;
      cursor: pointer;

    }
      

    